.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/* ==================================================
  Header
===================================================*/

header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 70px;
  backdrop-filter: blur(10px);
  z-index: 9999;
}

header ul li {
  padding-block: 8px;
  position: relative;
}

header ul li::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-gold-300);
  transition: all 0.2s ease;
}

header ul li:hover {
  color: var(--color-gold-300);
  transition: all 0.2s ease;
}

header ul li:hover::before {
  width: 100%;
  transition: all 0.2s ease;
}

header button {
  background: linear-gradient(135deg, #f6d365 0%, #d4af37 55%, #a67c00 100%);
  transition: all 0.2s ease;
}

header button:hover {
  box-shadow: 0 0 8px var(--color-gold-700);
}

/* ==================================================
  Hero
===================================================*/

.hero {
  padding: 180px 0 40px;
}

.hero .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero .right h1 {
  width: fit-content;
  background: linear-gradient(135deg, #d4af37, #f0d060, #c9a84c);
  background-clip: text;
  color: transparent;
  line-height: 1.5;
}

.hero .right .attributes p {
  font-size: 1rem;
  width: fit-content;
  color: var(--color-yellow-300);
  cursor: default;
  transition: all 0.2s ease;
}

.hero .right .attributes p:hover {
  box-shadow: 0 0 8px var(--color-gold-700);
}

.hero .right p {
  font-size: 1.125rem;
  line-height: 2;
  width: 80%;
}

.hero .right .socials a svg {
  opacity: 0.5;
  transition: all 0.2s ease;
}

.hero .right .socials a:hover svg {
  color: var(--color-gold-300);
  opacity: 1;
}

.hero .image-box {
  width: 320px;
  aspect-ratio: 4/5;
}

/* ==================================================
  About
===================================================*/

.about .right .card-body .box {
  border-bottom: 1px solid var(--color-gray-800);
}

.about .right .card-body .box p {
  font-size: 0.9rem;
}

.about .right .card-body .box p:first-child {
  color: var(--color-gray-400);
}

.about .right .card-body .box p:last-child {
  color: var(--color-gray-100);
}

.about .right .card-body .box.status p:last-child {
  color: var(--color-emerald-500);
  font-weight: bold;
  position: relative;
  padding-right: 15px;
}

.about .right .card-body .box.status p:last-child::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--color-emerald-500);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-55%);
  border-radius: 50%;
  animation: breath 2s ease infinite;
}

/* ==================================================
  Services
===================================================*/

#services {
  scroll-margin-top: 150px;
}

@keyframes breath {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1180px) {
  .container {
    width: 95%;
  }

  /* ==================================================
  About
===================================================*/

  .about {
    padding: 80px 0;
  }

  .about .right .card .card-body {
    flex-direction: column;
  }

  .about .right .card .card-body .box {
    width: 100%;
  }
}

@media only screen and (max-width: 1030px) {
  /* ==================================================
  Hero
===================================================*/
  .hero .container {
    justify-content: space-between;
  }

  .hero .title {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 865px) {
  /* ==================================================
  Hero
===================================================*/
  .hero .container {
    flex-direction: column;
    gap: 4rem;
  }

  .hero .right {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .hero .scroll {
    display: none;
  }

  .about .right .card .card-body {
    flex-direction: row;
  }

  .about .right .card .card-body .box {
    width: 48%;
  }

  /* ==================================================
  About
===================================================*/

  .about .container {
    flex-direction: column-reverse;
  }

  .about .right {
    width: 80%;
  }

  .about .left {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  /* ==================================================
  Hero
===================================================*/
  .hero .title {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .hero .left {
    width: 100%;
  }

  /* ==================================================
  About
===================================================*/

  .about .right .card .card-body {
    flex-direction: column;
  }

  .about .right .card .card-body .box {
    width: 100%;
  }
}
