.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/* ==================================================
  Hero
===================================================*/

.hero {
  padding: 160px 0 40px;
}

.hero .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero .right h1 {
  width: fit-content;
  background: linear-gradient(135deg, #d4af37, #f0d060, #c9a84c);
  background-clip: text;
  color: transparent;
  line-height: 1.5;
}

.hero .right .attributes p {
  font-size: 1rem;
  width: fit-content;
  color: var(--color-yellow-300);
  cursor: default;
  transition: all 0.2s ease;
}

.hero .right .attributes p:hover {
  box-shadow: 0 0 8px var(--color-gold-700);
}

.hero .right p {
  font-size: 1.125rem;
  line-height: 2;
  width: 80%;
}

.hero .right .socials a svg {
  opacity: 0.3;
  transition: all 0.2s ease;
}

.hero .right .socials a:hover svg {
  color: var(--color-gold-300);
  opacity: 1;
}

.hero .image-box {
  width: 340px;
  aspect-ratio: 4/5;
}

@media only screen and (max-width: 1180px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 1030px) {
  /* ==================================================
  Hero
===================================================*/
  .hero .container {
    justify-content: space-between;
  }

  .hero .title {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 865px) {
  /* ==================================================
  Hero
===================================================*/
  .hero .container {
    flex-direction: column;
    gap: 4rem;
  }

  .hero .right {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .hero .scroll {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  /* ==================================================
  Hero
===================================================*/
  .hero .title {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .hero .left {
    width: 100%;
  }
}
